html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
    width: 400px;
    min-height: 200px;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

li a {
    text-decoration: underline;
    color: #0288d1;
}

.mdl-grid {
    max-width: 1024px;
    margin: auto;
}

.mdl-layout__header-row {
    padding: 0;
}

.user-details-container {
    margin-top: 20px;
    line-height: 25px;
}

#sign-in-status {
    font-weight: bold;
}

h1 {
    background: url('postsmtp_icon.png') no-repeat;
    background-size: 40px;
    padding-left: 50px;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
}

.button {
    cursor: pointer;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#post-smtp-hash-wrap {
    padding: 5px;
}

input[readonly] {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 5px;
    background-color: #ddd;
}