$colors: (
    white-000: #FFFFFF,

    gray-200: #E1E4E7,
    gray-300: #E6E6E6,
    gray-500: #787878,
    gray-600: #8593A1,
    gray-700: #3D3D3D,
    gray-800: #30465E,
    gray-1000: #3E4852,
    gray-1100: #607D8B,
    gray-1200: #3B4C55,
    gray-1300: #8893A0,
    gray-1400: #595F66,

    blue-400: #D5EAED,
    blue-500: #DCF1F5,
    blue-600: #20B3C8,
    blue-700: #1B94A6,
    blue-1000: #054063,
    blue-1100: #099CAE,
    blue-1200: #1A8799,
    new-blue-700: #108C9E,

    purple-100: #F6F6FB,
    purple-300: #E7D4FA,
    purple-700: #8D5ABF,
    purple-900: #513871,

    yellow-100: #FFF4D4,
    yellow-200: #FFF0CC,
    yellow-300: #FFECB4,
    yellow-400: #FFE393,
    yellow-500: #FFDB72,
    yellow-1000: #4C3F17,

    red-700: #DF3D22,

    black-100: #212427,
    black-200: #677889,
    black-300: #46556A,

    purple-a-100: rgba(161, 92, 229, 0.10),
    gray-a-1: rgba(0, 0, 0, 0.15),
    blue-500-a-1: rgba(220, 241, 245, 0.7),
);

